@model ExtraFormViewModel
@{
    ViewData["Title"] = "Add a extras to your vehicle";
}

<h1 class="text-center">Add extras to your vehicle</h1>
<div class="container">
    <ul class="progressbar">
        <li>Add Vehicle</li>
        <li>Add Images</li>
        <li class="active">Add Extras</li>
    </ul>
</div>

<hr/>
<form asp-action="AddExtraForVehicle" asp-controller="Extra" asp-route-id="@Model.ExtraId" method="post">
    <div class="mb-lg-3 col-lg-12">
        <partial name="_ExtrasTablePartial"/>
    </div>
    <div class="mb-3">
        <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Finish" />
    </div>
</form>
