@{
    ViewData["Title"] = "Method not allowed.";
}


<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">405</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Method not allowed.</p>
        <p class="lead">
            The current user does not support this method.
        </p>
        <a asp-action="Search" asp-controller="Vehicle" class="btn btn-primary">Go Back</a>
    </div>
</div>
