@model VehicleFormViewModel

@{
    ViewData["Title"] = "Редактиране на обява";
}
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<h1 class="text-center mb-lg-3 col-lg-12">@ViewData["Title"]</h1>

<div class="container">
    <ul class="progressbar">
        <li class="active">Редактиране на обява</li>
        <li>Редактиране на снимки</li>
        <li>Редактиране на екстри</li>
    </ul>
</div>


<div class="row text-center">
    <div class="text-center mb-lg-3 col-lg-12">
        <partial name="_VehicleFormPartial" />
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {
            // Dropdownlist Selectedchange event
            $("#MakeId").change(function () {
                var makeId = $(this).val(); // Get the selected makeId

                $("#ModelId").empty(); // Clear the current options in the Model dropdown

                // If no makeId is selected, show a default option in the Model dropdown
                if (makeId === "") {
                    $("#ModelId").append('<option value="">Select a Model</option>');
                    return;
                }

                // Make an AJAX POST request to retrieve the models based on the selected makeId
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetModelValues")',
                    dataType: 'json',
                    data: { id: makeId }, // Send the selected makeId as 'id'
                    success: function (models) {
                        // models contains the JSON formatted list of models returned from the controller

                        $("#ModelId").append('<option value="">Select a Model</option>');
                        $.each(models, function (i, model) {
                            $("#ModelId").append('<option value="' + model.id + '">' + model.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve models: ' + ex);
                    }
                });
            });
        });
    </script>
}